.App {
  text-align: center;
  /* color: rgb(243, 55, 55); */
}

.css-18opuo6-MuiPaper-root-MuiAppBar-root{
  background-color: white !important;
}

.css-3oymmw-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: brown !important;
}

.carousel {
  position: relative;
  width: 100%;
  height: 500px; /* Set your fixed height here */
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the carousel container */
}